<div>
	{{#each messages ~}}
      		{{#if text}}
	<div class="alert alert-dismissable
		      	{{~#if warning}} alert-warning
		      	{{~/if~}}
		      	{{~#if error}} alert-danger
		      	{{~/if~}}
		      	">
		<button type="button" data-index="{{@index}}" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
		<strong>{{~#if warning~}}
			      		Warning
			      	{{~/if~}}
			      	{{~#if error~}}
			      		Error
			      	{{~/if}} - </strong> 
		{{~text~}}
	</div>
	{{/if}}
      	{{/each}}
</div>