<div class="header">
	<div class="navbar-header">
		<a class="navbar-brand" href="#" id="home">
			<img src="images/isblogo.png" class="imgbrand" alt="PTBWeb"> <b class="titled">PTBWeb</b>
		</a>
		
	</div>
	<div class="navbar-default" id="navbar-controls"></div>
	<ul class="nav navbar-nav pull-right" style="padding-right:50px;font-size:1.4em;">
			<li>
				<a id="navbarConsoleFlag" class="nomessage" data-toggle="modal" data-target="#consoleModal" role="button" href="#"> 
					<span class="glyphicon glyphicon-flag"></span>
				</a>
			</li>
		</ul>
</div>