<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			{{filter_title}}
		</div>
	</div>
	<div class="panel-body filter-panel">
	</div>
	<div class="panel-footer filter-console">
		Filter {{filter_data_type}} using multiple attributes.
	</div>
</div>