<div>
	<select class="filter-attributes">
	{{#each attribute~}}
		<option>
			{{label}}
		</option>
	{{/each}}
	</select>

	<select class="filter-operation">
	{{#each operation~}}
		<option>
			{{label}}
		</option>
	{{/each}}
	</select>

	<input type="text" class="filter-predicate">

	<a type="button"><span class="glyphicon glyphicon-plus"></span></a>
</div>