

<select class="filter-attributes">
{{#each attribute~}}
	<option>
		{{}}
	</option>
{{/each}}
</select>

<select class="filter-operation">

</select>

<input type="text" class="filter-predicate">

<a type="button"><span class="glyphicon glyphicon-plus"></span></a>